body{
    background-color: aquamarine;
}
.container{
    width: 600px;
    height: 500px;
    margin: auto;
    border: solid;
    text-align: center;
    background-color: blanchedalmond;
}
table{
    margin: auto;
}
button{
    width: 60px;
    height: 60px;
    align-items: center;
    background-color: darkorchid;
    cursor: pointer;
    border-radius: 100%;
    outline: none;
    font-size: larger;
}
input{
    width: 350px;
    height: 80px;
}
#screen{
    font-size: xx-large;
    color: black;
}
